<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Suite">
  <test name="Test">
    <classes>
      <class name="userManagement.UserMangement"/>
      </classes>
      </test>
      <test name="Test Two" >
      <classes>
      <class name="cmswizard.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> 
